* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
}

.App {
  background-color: #1a1a1a;
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
}

.editorColumn {
  display: flex;
  justify-content: center;
  align-items: center;
}
